:root {
  // colors
  --esf-primary-dark: #202124;
  --esf-primary: #292a2d;
  --esf-primary-light: #5f6368;
  --esf-primary-hover: #31353c;
  --esf-primary-active: #495464;
  --esf-primary-disabled: #3c4043;

  --esf-secondary-dark: #9aa0a6;
  --esf-secondary: #e8eaed;

  --esf-accent: #8ab4f8;
  --esf-accent-opacity: #8ab4f899;

  --esf-error: #f28b82;
  --esf-error-mandatory: #e13231;

  --esf-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0, rgba(0, 0, 0, 0.15) 0 2px 6px 2px;

  // fonts
  --esf-family: 'Roboto', -apple-system, BlinkMacSystem Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  --esf-regular: 400;
  --esf-bold: 500;
}
